@model WoW.Models.ViewModels.User.ProfileVM
@{
    ViewBag.Title = "Profile Page";
    string Active = "";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @using (Html.BeginForm("Info", "User", FormMethod.Post))
            {
                <h2>Моята Зона</h2>

                <h3>Първо име: @Html.TextBoxFor(vm => vm.Info.FirstName)</h3>
                <h3>Фамилия: @Html.TextBoxFor(vm => vm.Info.LastName)</h3>
                <h3>Пол: @Html.EnumDropDownListFor(vm => vm.Info.Gender)</h3>
                <h3>Възраст: @Html.TextBoxFor(vm => vm.Info.Age)</h3>
                <h3>Ел. поща: @Html.TextBoxFor(vm => Model.Email)</h3>
                <h3>Работна среда: @Html.EnumDropDownListFor(vm => vm.Info.WorkingSphere)</h3>
                <h3>Степен на образование: @Html.EnumDropDownListFor(vm => vm.Info.EducationDegree)</h3>
                <h3>Статут: @Html.EnumDropDownListFor(vm => vm.Info.SocialStatus)</h3>

                if (Model.Info == null)
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Запази" class="btn btn-default" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Промени" class="btn btn-default" />
                        </div>
                    </div>
                }
            }
         </div>
        <div class="col-xs-6">
            <table class="table table-striped">
                <tr>
                    <td>
                        <h3>Неодобрени думи:</h3>
                        <h3>@Html.DisplayFor(vm => vm.WordForValidateCount)</h3>
                    </td>
                    <td>
                        <h3>Одобрени думи:</h3>
                        <h3>@Html.DisplayFor(vm => vm.WordCount)</h3>
                    </td>
                    <td>
                        <h3>Зададени въпроси:</h3>
                        <h3>@Html.DisplayFor(vm => vm.QuestionCount)</h3>
                    </td>
                    <td>
                        <h3>Добавени отговори:</h3>
                        <h3>@Html.DisplayFor(vm => vm.AnswerCount)</h3>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>