@using WoW.Models.ViewModels.QandA
@model AddQVM
@{
    ViewBag.Title = "AddQuestion";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<div id="dialog-edit" style="display: none">
</div>

<h2>Ако не можеш да откриеш дума</h2>


<h3>Посочи нейната дължина, задай буквите които знаеш и изчакай отговор</h3>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr />

        <select class="1-30"></select>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Word, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="letters">
                 @*@Html.HiddenFor(model => model.Word, new { htmlAttributes = new { @class = "form-control", id = "searchedWord" } })*@
                @Html.ValidationMessageFor(model => model.Word, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", id = "content" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="getword" value="Добави" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>

    $(function () {
        let $select = $(".1-30");
        for (i = 1; i <= 30; i++) {
            $select.append($('<option></option>').val(i).html(i))
        }
    });

    let temChars = [];
    $('#getword').on('click', function (e) {
        //e.preventDefault();
        temChars = $('.lett').toArray();
        let selected = $('.1-30').find(":selected").text();
        for (let i = 1; i <= selected; i++) {
            temChars[i - 1] = $('#letter' + i).val() == '' || $('#letter' + i).val() == ' ' ? '?' : $('#letter' + i).val();
        }
        let word = temChars.join('');

        //$('#searchedWord').val(word);



        $.ajax({
            type: "POST",
            url: '/QandA/AddQuestion',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                Word: word,
                Content: $('#content').val()
            }),
            dataType: "json",
            success: function (response) {
                console.log('o ye')
                window.location = response.url;

            },
            error: function (response) {
                console.dir(response)

            }
        });
    })

</script>
<script src="~/Scripts/searching-form.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
