@model IEnumerable<WoW.Models.ViewModels.QandA.QADetails>
@{
    ViewBag.Title = "AllAnswers";

}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />





<div id="dialog-edit" style="display: none">
</div>

<h2>Това са всички въпроси и техните отоговори</h2>

@using (Html.BeginForm())
{
    <table class="table table-stripped">
       
        @foreach (var question in Model)
        {
            <tr>
                <td>@Html.LabelFor(q => question.Word, "Търсена дума:")
                @Html.DisplayFor(q => question.Word)</td>
                <td>@Html.LabelFor(q => question.Content, "Описание:")
                @Html.DisplayFor(q => question.Content)</td>
                <td>@Html.LabelFor(q => question.User, "Потребител:")
                @Html.DisplayFor(q => question.User.UserName)</td>
                <td>@Html.LabelFor(q => question.Answers, "Отговори:")
                @Html.DisplayFor(q => question.Answers)</td>

                <td>@Html.ActionLink("Отговори", "AddAnswer", new { id = question.Id }, new { @class = "lnkEdit" })</td>
            </tr>
        }
    </table>
}
<script src="~/Scripts/PopUpDialog.js"></script>
<script>
    $(document).ready(function () {
        $("#dialog-edit").dialog("option", "title", 'Добави отговор');
    });
</script>